<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <title></title>
</head>

<body>
  <header>
    <a href="http://0.0.0.0:3000/">Gabble</a>
    <a href="http://0.0.0.0:3000/create">Create a new gab</a>
    <form class="" action="/logout" method="post">
      <button type="submit" name="submit">Log out</button>
    </form>
  </header>
  <h1>Create a new gab</h1>
  <form class="new-gab-form" action="/creategab" method="post">
    <div class="errors">
      {{#errors}}
        {{message}}
      {{/errors}}
    </div>
    <textarea name="gab" rows="8" cols="80"></textarea>
    <button type="submit" name="submit">Save gab</button>
  </form>
</body>

</html>
