<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <header>
    <a href="http://0.0.0.0:3000/">Gabble</a>
    <a href="http://0.0.0.0:3000/create">Create a new gab</a>
    <a href="http://0.0.0.0:3000/login">Log in</a>
    <a href="http://0.0.0.0:3000/signup">Sign up</a>
  </header>
  <h1>Log In</h1>
  <form class="" action="/login" method="post">
    <h3>Username</h3>
    <input type="text" name="username" value="">
    <br>
    {{noUsername}}
    <h3>Password</h3>
    <input type="password" name="password" value="">
    <br>
    {{incorrectPwd}}
    <br>
    <button type="submit" name="submit">Log in</button>
  </form>
</body>

</html>
